.spinner-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:230px;
}

.center-spinner {
  width: 50px;
  height: 50px;
}
.empty-cart-container {
  text-align: center;
  padding: 20px;
}
.empty-cart-heading{
  margin:10px
}
.empty-cart-message{
  margin:10px;
}
.order-now-btn{
  background-color: #f7931e;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}